
/* header styling */
.header_style{
     background-color: #03284c;
     height: 90px;
     text-align: center;
     display:flex;
     align-items: center; 
}

.header_style img{
     height:80px;
     width:auto;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
}

.menu{
     color: white;
     font-size: 2em;
     float: left;
     margin-left: 20px;
     cursor: pointer;
}

/* navigation style */
.nav_style{
     background-color: #f1c411;
     height: 40px;
}


.nav_style ul{
     display: flex;
     gap: 10px;
     padding-left: 10px;
}


.nav_item {
     padding: 10px 0;
}

.nav_item a {
     display: inline-block;
     color: black;
}


/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     position: absolute;
     top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     top: 25px;
     z-index: 100;
}




/*Write selector/rule property to style all elements when in focus*/
/* :focus {
     border: 5px dashed green;
}
nav a:hover,
nav a:focus {
     border: 2px dotted purple;
} */

/*Write selector/rule property to style the container */
/* .container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 13px;
} */
/*


/* .nav_style ul{
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     gap: 0;
     width: 100%;
} */
