body {
  overflow-x: hidden;
}

/* header styling */
.header_style{
     background-color: #03284c;
     height: 90px;
     text-align: center;
     display:flex;
     justify-content: center;
     align-items: center;
}

.header_style img{
     height:80px;
     width:auto;
     display: flex;
     /* position: absolute;
     left: 50%;
     transform: translateX(-50%); */
}


/* navigation style */
.nav_style{
     background-color: #f1c411;
     height: auto;
}


.nav_style ul{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
}


.nav_item {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 5px 0;
}

.nav_item a {
     display: inline-block;
     color: black;
     font-size: 0.9rem;
}


/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     position: absolute;
     top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     top: 25px;
     z-index: 100;
}


/* text size styling */
h1{
     font-size: 1.8em;
}
h2{
     font-size: 1.2em;
}

p{
     text-align: justify;
}
.container{
     display:grid;
     grid-template-columns: repeat(2, minmax(100px, 390px));
}
.section_container{
     padding: 20px;
     grid-column: span 2;
     border-bottom: 2px solid #e0e0e0;
}

iframe {
  width: 100%;
  height: auto;
  display: block;
  /* height: auto doesn't work with iframe, it will not automactically calculate height like img */
  aspect-ratio: 16 / 9;
  padding-top: 10px;
}

.section_container ul{
     list-style-position: inside;;
     padding-left: 10px;
}

.offer_image img{
     max-width: 100%;
     height: auto;
     margin: 5px 0;
}

.career_education_table{
     border-collapse: collapse;
     width: 100%;
     text-align: left;
}

.career_education_table .career_education_table th, .career_education_table td{
     border: 1px solid black;
     padding: 5px;
}

.table_style td{
     font-size: 16px;
}

/*Write selector/rule property to style all elements when in focus*/
/* :focus {
     border: 5px dashed green;
}
nav a:hover,
nav a:focus {
     border: 2px dotted purple;
} */

/*Write selector/rule property to style the container */
/* .container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 13px;
} */
/*


/* .nav_style ul{
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     gap: 0;
     width: 100%;
} */
